:root {
    --base:1600;
    --tbase:calc(var(--base) * 1px);
    --tcolumna: calc(var(--tbase) / 12);
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: var(--base);
    margin: 0 auto;
}

.row {
    clear: both;
}

.col {
    float: left;
    width: var(--tcolumna);
}

.col.span2{ width: calc(var(--tcolumna) * 2);}
.col.span3{ width: calc(var(--tcolumna) * 3);}
.col.span4{ width: calc(var(--tcolumna) * 4);}
.col.span5{ width: calc(var(--tcolumna) * 5);}
.col.span6{ width: calc(var(--tcolumna) * 6);}
.col.span7{ width: calc(var(--tcolumna) * 7);}
.col.span8{ width: calc(var(--tcolumna) * 8);}
.col.span9{ width: calc(var(--tcolumna) * 9);}
.col.span10{ width: calc(var(--tcolumna) * 10);}
.col.span11{ width: calc(var(--tcolumna) * 11);}
.col.span12{ width: calc(var(--tcolumna) * 12);}

